/* Chapitre 3 du cours "Utilisation d’Ordinateurs en Réseau" de P. Kislin 
Palette de couleurs : https://static.vecteezy.com/system/resources/previews/000/641/263/original/website-color-palette-ideas-vector.jpg*/

.citation {
	text-align: right;
	margin:0;
	padding:10pt;
	font: italic normal lighter 1.2em Verdana, Arial, cursive;
	color: #5577D1;
	letter-spacing: +2px;
}

h1 {
  padding: 10pt;
  margin: 50pt;
  font: small-caps Georgia, Verdana, sans-serif;
}

body {
    fontt-family: 'source-code-pro', Arial, sans-serif;
    margin: 15%;
    color: #2A3F74;
    text-align: justify;
    line-height: 1.5;
}

img {
	padding: 0pt 10pt;
	max-width: 100%;
}

/* barre de navigation - merci https://www.w3schools.com/Css/css_navbar_horizontal.asp */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F6F3EC;
}

li a {
  display: block;
  color: #2A3F74;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #EFE9DC;
}

.active {
  background-color: #2A3F74;
  color: white;
}
/* fin barre de navigation */

.r {
	float: right;
}

.l {
	float: left;
}

/* Permet de contenir une image dans la section à laquelle elle appartient 
(pas de dépassement) ; source w3schools */
.clearfix { 
	content: "";
	clear: both;
	display: table;
}

/* Certains mots sont mis en valeur */
.jargon {
	color: #5577D1;
	font-style: oblique;
}

.zoom {
	/*border: 5pt solid blue;*/
	border-radius: 5%;
	background-color: #F6F3EC;
	padding: 10%;
}

.pointless {
	list-style-type: none;
}

.inline {
	display: inline;
	padding: 10pt;
}

/* pour que la taille des images ne dépasse pas celle de la fenêtre */
.pastropgrand {
	max-width: 100%;
	padding: 0;
}

.basdepage {
	text-align: center;
	color: #5577D1;
}

/* quizz */
.erreur {
	color: #E06C43;
}

.questions {
	background-color: #F6F3EC;
	padding: 14px 16px;
}
